<h1 class="fg-darkTeal">Modification du prix {{ entity.numero }}{% if entity.sousCategorie is not null %}{{ entity.sousCategorie }} {% endif %}</h1>
<br>
{{ form_start(edit_form) }}

<div class="grid laiso-bordered padding10">
    <div class="row cells5">
        <div class="cell colspan2">
            <strong>Catégorie du prix</strong>

            <div class="fg-red">
                {{ form_errors(edit_form.categorie) }}
            </div>
            <div class="input-control select full-size" data-role="select">
                {{ form_widget(edit_form.categorie) }}
            </div>
        </div>

        <div class="cell">
            <strong>Numéro de série</strong>

            <div class="fg-red">
                {{ form_errors(edit_form.numero) }}
            </div>
            <div class="input-control text full-size">
                {{ form_widget(edit_form.numero) }}
            </div>
        </div>
        <div class="cell">
            <strong>Unité de mesure</strong>

            <div class="fg-red">
                {{ form_errors(edit_form.unite) }}
            </div>
            <div class="input-control select full-size" data-role="select">
                {{ form_widget(edit_form.unite) }}
            </div>
        </div>
        <div class="cell">
            <strong>Sous catégorie</strong>

            <div class="fg-red">
                {{ form_errors(edit_form.sousCategorie) }}
            </div>
            <div class="input-control select full-size" data-role="select">
                {{ form_widget(edit_form.sousCategorie) }}
            </div>
        </div>
    </div>
    <div class="row cells4">
        <div class="cell colspan4">
            <strong>Désignation</strong>

            <div class="fg-red">
                {{ form_errors(edit_form.designation) }}
            </div>
            <div class="input-control text full-size">
                {{ form_widget(edit_form.designation) }}
            </div>
        </div>
    </div>
</div>


{{ form_end(edit_form) }}