{% extends '::base.html.twig' %}

{% block breadcumbs %}
    <li><a href="#">Prix</a></li>
    <li><a href="{{ path('prix_categorie') }}">Catégorie des prix</a></li>
{% endblock %}

{% block body -%}
    {% if entities | length > 0 %}
        <div data-role="charm" class="charm-search" data-position="right">
            <form name="search" action="{{ path('prix_categorie') }}">
                <h1>Recherche rapide</h1>

                <div class="input-control select full-size">
                    <select name="t" id="search-select">
                        <option value="numero">Numéro</option>
                        <option value="designation">Désignation</option>
                    </select>
                </div>

                <div class="input-control text full-size" data-role="input">
                    <input type="text" name="q" id="q">
                    <button class="button helper-button clear"><span class="mif-cross"></span></button>
                    <button class="button"><span class="mif-search"></span></button>
                </div>
            </form>
        </div>
        <table class="table border bordered">
            <thead>
            <tr>
                <th style="width: 15%">Numéro</th>
                <th>Désignation</th>
                <th style="width:20%">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.numero }}</td>
                    <td>{{ entity.designation }}</td>
                    <td>
                        <a href="{{ path('prix_categorie_show', { 'id': entity.id }) }}">
                            <span data-role="hint" data-hint-background="bg-darkTeal" data-hint-color="fg-white"
                                  data-hint="Détailler|Détailler la catégorie {{ entity.designation }}">Détailler</span>
                        </a>
                        <a class="ajax-button" href="{{ path('prix_categorie_edit', { 'id': entity.id }) }}">
                            <span data-role="hint" data-hint-background="bg-darkTeal" data-hint-color="fg-white"
                                  data-hint="Modifier|Modifier la catégorie {{ entity.designation }}">Modifier</span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% include ('LaisoArmBundle:Shared:paginator.html.twig') %}

        <a class="button primary ajax-button" href="{{ path('prix_categorie_new') }}">
            Créer une nouvelle catégorie de prix
        </a>
    {% else %}
        <div class="align-center padding10 laiso-bordered">

            <h3>Aucune catégorie de prix.</h3>
            <a class="button primary ajax-button" href="{{ path('prix_categorie_new') }}">
                Créer une nouvelle catégorie de prix
            </a>
        </div>
    {% endif %}
{% endblock %}
