{% extends '::base.html.twig' %}

{% block breadcumbs %}
    <li><a href="#">Prix</a></li>
    <li><a href="{{ path('prix_categorie') }}">Catégorie des prix</a></li>
    <li><a href="{{ path('prix_categorie_show', {'id': entity.id}) }}">Catégorie n° {{ entity.numero }}</a></li>
{% endblock %}

{% block body -%}
    <a class="button danger ajax-button place-right" href="{{ path('prix_categorie_ajax_delete', {'id' : entity.id}) }}">Supprimer</a>

    <a class="button primary ajax-button" href="{{ path('prix_categorie_edit', { 'id': entity.id }) }}">
        Modifier
    </a>

    <hr class="clear-float thin">

    <h2>Liste des prix dans cette catégorie</h2>
    {% if entity.series | length == 0 %}
        <div class="laiso-bordered padding10 align-center">
            <h3>Aucun prix trouvé dans cette catégorie.</h3>
        </div>
        {% else %}
        <table class="table border bordered">
            <thead>
            <tr>
                <th style="width:15%">Numéro</th>
                <th>Désignation</th>
                <th style="width:15%">Unité</th>
                <th style="width:20%">Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for serie in entity.series %}
                    <tr>
                        <td>{{ serie.numero }}</td>
                        <td>{{ serie.designation }}</td>
                        <td>{{ serie.unite.abbrege }}</td>
                        <td>
                            <a href="{{ path('prix_serie_show', { 'numero': serie.id }) }}">
                            <span data-role="hint" data-hint-background="bg-darkTeal" data-hint-color="fg-white"
                                  data-hint="Détailler|Détailler le prix {{ serie.numero }}">Détailler</span>
                            </a>

                            <a class="ajax-button" href="{{ path('prix_serie_edit', { 'numero': serie.id }) }}">
                            <span data-role="hint" data-hint-background="bg-darkTeal" data-hint-color="fg-white"
                                  data-hint="Modifier|Modifier le prix {{ serie.numero }}">Modifier</span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
