<h1>Ajout d'une nouvelle région</h1>
<br>
{{ form_start(form, {'attr':{
    'data-role': 'validator',
    'data-show-required-state': "false",
    'data-hint-mode': "line",
    'data-hint-background': "bg-red",
    'data-hint-color': "fg-white",
    'data-hide-error': "5000"
}}) }}
<div class="grid">
    <div class="row cells2">
        <div class="cell">
            <strong>Nom de la région</strong>

            <div class="fg-red">{{ form_errors(form.nom) }}</div>
            <div class="input-control text full-size">
                {{ form_widget(form.nom) }}
                <span class="input-state-error mif-warning"></span>
                <span class="input-state-success mif-checkmark"></span>
            </div>
        </div>
        <div class="cell">
            <strong>Bloc</strong>

            <div class="fg-red">{{ form_errors(form.bloc) }}</div>
            <div class="input-control select full-size" data-role="select">
                {{ form_widget(form.bloc) }}
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}