{#
    C'est le seul endroit où l'on peut modifier les prix unitaires ssi lotissement.PuValide == false
    Modification de quantité interdite. Les quantités initiales doivent être déjà définies lors de
    la création du dao.

#}

{% set prixComplet = true %}

{% if consistances | length > 0 %}
    {% for consistance in consistances %}
        <div class="laiso-bordered padding10 bg-grayLighter margin10 no-margin-top no-margin-right no-margin-left">
            <div class="laiso-bordered padding10 align-center bg-white">
                <h4>
                {% for type in consistance.types %}
                    {{ type.type }}
                {% endfor %}
                </h4>

                {% for site in consistance.localisations %}
                    <small>Axe {{ lotissement.axe }} - Entre le PK {{ site.pKDebut }} et le PK {{ site.pKFin }} - {{ site.localisation }}</small>
                    <br>
                {% endfor %}
                <br>
                <strong>Lot n° {{ lotissement }}</strong>
            </div>
            {% if consistance.prix | length > 0 %}
                <table class="bordered border table bg-white">
                    <thead>
                    <tr>
                        <th style="width: 10%;">Numéro</th>
                        <th>Désignation</th>
                        <th style="width: 10%;">Unité</th>
                        <th style="width: 10%;">Quantité</th>
                        <th style="width: 13%;">Prix Unitaire</th>
                        <th style="width: 13%;">Montant</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set current = "" %}
                    {% for prix in consistance.prix %}
                        {% for ligne in prix.lignesDqe %}
                            {% if ligne.avenant.id == avenant.id %}
                                {% set serie = ligne.prix.serie %}
                                {% set categorie = serie.categorie %}
                                {% if current != categorie.designation %}
                                    <tr class="bg-grayLighter">
                                        <td><strong>{{ categorie.numero }}</strong></td>
                                        <td colspan="5"><strong>{{ categorie.designation }}</strong></td>
                                    </tr>
                                    {% set current = categorie.designation %}
                                {% endif %}
                                <tr>
                                    <td>{{ serie.numero }}</td>
                                    <td>{{ serie.designation }}</td>
                                    <td class="align-center">{{ serie.unite.abbrege }}</td>
                                    <td class="align-center">{{ ligne.quantite }}</td>
                                    <td class="align-right">
                                    {% if lotissement.PuValide == false %}
                                        {% if ligne.prix.prixUnitaire > 0 %}
                                            <a class="ajax-button" href="{{ path('prix_unitaire_add', {'numero': ligne.prix.serie.numero, 'marcheId': avenant.marche.id, 'consistanceId': consistance.id}) }}">
                                                {{ ligne.prix.prixUnitaire }}
                                            </a>
                                        {% else %}
                                            {% if prixComplet == true %}
                                                {% set prixComplet = false %}
                                            {% endif %}
                                            <a class="ajax-button" href="{{ path('prix_unitaire_add', {'numero': ligne.prix.serie.numero, 'marcheId': avenant.marche.id, 'consistanceId': consistance.id}) }}">
                                                <span class="mif-plus"></span>
                                            </a>
                                        {% endif %}

                                    {% else %}
                                        {{ ligne.prix.prixUnitaire }}
                                    {% endif %}
                                    </td>
                                    <td class="align-right">
                                        {% if ligne.prix.prixUnitaire %}
                                            {{ (ligne.prix.prixUnitaire * ligne.quantite) | round(2) }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="align-center laiso-bordered padding10 margin10 no-margin-bottom no-margin-right no-margin-left bg-white">
                    <h3>Aucune ligne trouvée dans cette consistance.</h3>
                </div>
            {% endif %}
        </div>
    {% endfor %}
    {% if prixComplet == false %}
        <small><span class="place-right fg-orange">Remplir tout les prix unitaires afin de pouvoir valider le DQE.</span></small>
    {% endif %}

    {% if lotissement.PuValide == false and prixComplet %}
        <a href="{{ path('pu_validate', {'id': avenant.marche.id}) }}" class="primary button place-right confirm-validate-dqe-dao">Valider les prix unitaires</a>
    {% endif %}
    {% if lotissement.PuValide %}
        <small><span class="place-right fg-orange">Vous ne pouvez plus apporter de modification sur les prix unitaires.</span></small>
    {% endif %}
{% else %}
    <div class="align-center laiso-bordered padding10 margin10 no-margin-top no-margin-right no-margin-left">
        <h3>Aucune consistance trouvée dans ce lot.</h3>
        <a href="{{ path('consistance_new', {'daoId' : lotissement.id}) }}" class="button primary ajax-button">Ajouter une consistance</a>
    </div>
{% endif %}