{% extends '::base.html.twig' %}

{% block body %}
    <br>
    <div class="laiso-bordered padding10 align-center">
        <h1>Oooops! <span class="text-bold fg-red">Erreur 403</span> </h1>
        <hr class="thin bg-red">
        <h1>Vous n'avez pas les droits suffisants pour accéder à ce ressource.</h1>

        <p>
            <a href="{{ path('laiso_arm_homepage') }}">Retourner à la page d'accueil.</a>
        </p>
    </div>

{% endblock %}