{% extends '::base.html.twig' %}

{% block body %}
    <br>
    <div class="laiso-bordered padding10 align-center">
        <h1>Oooops! <span class="text-bold fg-red">Erreur 500</span> </h1>
        <hr class="thin bg-red">
        <h1>Erreur interne du serveur.</h1>

        <p>
            Veuillez contacter l'administrateur ou <a href="{{ path('laiso_arm_homepage') }}">retourner à la page d'accueil.</a>
        </p>
    </div>

{% endblock %}