{% extends '::base.html.twig' %}

{% block body %}
    <br>
    <div class="laiso-bordered padding10 align-center">
        <h1>Oooops! <span class="text-bold fg-red">Erreur 404</span> </h1>
        <hr class="thin bg-red">
        <h1> Page non trouvée</h1>

        <p>
            Veuillez vérifier l'URL ou <a href="{{ path('laiso_arm_homepage') }}">retourner à la page d'accueil.</a>
        </p>
    </div>

{% endblock %}