{% extends '::base.html.twig' %}
{% block breadcumbs %}
    <li><a href="#">Admin</a></li>
    <li><a href="{{ path('classe') }}">Classe de référence</a></li>
    <li><a href="{{ path('classe_show', {'id': entity.id}) }}">Classe {{ entity.classe }}</a></li>
    <li><a href="{{ path('classe_new') }}">Modifier</a></li>
{% endblock %}
{% block body -%}
    {% include ('@LaisoArm/Classe/includes/edit_classe.html.twig') %}
    {{ form(delete_form) }}
{% endblock %}
