{% extends '::base.html.twig' %}

{% block breadcumbs %}
    <li><a href="#">Admin</a></li>
    <li><a href="{{ path('classe') }}">Classe de référence</a></li>
{% endblock %}

{% block body -%}
    {% if entities | length > 0 %}
        <table class="table bordered border">
            <thead>
            <tr>
                <th>Classe</th>
                <th style="width: 15%;">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.classe }}</td>
                    <td>
                        <a href="{{ path('classe_show', { 'id': entity.id }) }}">
                            <span data-role="hint" data-hint-background="bg-darkTeal" data-hint-color="fg-white"
                                  data-hint="Détailler|Détailler la classe {{ entity.classe }}">Détailler</span>
                        </a>

                        <a class="ajax-button" href="{{ path('classe_edit', { 'id': entity.id }) }}">
                            <span data-role="hint" data-hint-background="bg-darkTeal" data-hint-color="fg-white"
                                  data-hint="Modifier|Modifier la classe {{ entity.classe }}">Modifier</span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


        <a class="button primary ajax-button" href="{{ path('classe_new') }}">
            Ajouter une nouvelle classe de référence
        </a>
    {% else %}
        <div class="align-center laiso-bordered padding10">
            <h3>Aucune classe de référence</h3>
            <a class="button primary ajax-button" href="{{ path('classe_new') }}">
                Ajouter une nouvelle classe de référence
            </a>
        </div>
    {% endif %}
{% endblock %}
