{% extends '::base.html.twig' %}

{% block breadcumbs %}
    <li><a href="#">Admin</a></li>
    <li><a href="{{ path('classe') }}">Classe de référence</a></li>
    <li><a href="{{ path('classe_new') }}">Créer</a></li>
{% endblock %}

{% block body -%}
    {% include ('@LaisoArm/Classe/includes/new_classe.html.twig') %}
{% endblock %}
