{% extends '::base.html.twig' %}
{% block breadcumbs %}
    <li><a href="#">Admin</a></li>
    <li><a href="{{ path('classe') }}">Classe de référence</a></li>
    <li><a href="{{ path('classe_show', {'id': entity.id}) }}">Classe {{ entity.classe }}</a></li>
{% endblock %}
{% block body -%}
    <a class="button danger place-right ajax-button" href="{{ path('classe_ajax_delete', {'id': entity.id}) }}">Supprimer</a>
    <a class="button primary place-right ajax-button" href="{{ path('classe_edit', { 'id': entity.id }) }}">Modifier</a>
    <span class="clear-float"></span><hr>
    <h2>Liste des demandes d'appel d'offre dans cette classe</h2>
    <div class="laiso-bordered padding10 align-center">
        Aucune demande d'appel d'offre
    </div>
    <br>
    <h2>Liste des marchés dans cette classe</h2>
    <div class="laiso-bordered padding10 align-center">
        Aucun marché.
    </div>
{% endblock %}
