{#
    Variables nécessaires pour afficher le DQE :
        * Laiso\ArmBundle\UtilsDQE dqe
        * Laiso\ArmBundle\Entity\Lotissement lotissement

    Afin de garder la lisibilité du code, on a séparé les différents modes d'affichage
    du DQE (avec ou sans modification autorisées) selon les critères de validité du
    marché, du lotissement et de l'avenant.

    REMARQUES IMPORTANTES:
        * lotissement.PuValide  : Prix unitaires valides **.
        * lotissement.valide    : Un marché. Ne peut être mis à true si lotissement.PuValide est encore à false
        * avenant.valide        : Quantités de travaux valides **.

    ** Les quantités et prix unitaires validés ne sont plus modifiables.
#}

{% set consistances = dqe.consistances %}
{% set avenant = dqe.avenant %}

{% if rubrique == 'dao' %}
    {% include ('LaisoArmBundle:DQE/dao:dqe_dao.html.twig') %}
{% elseif rubrique == 'marche' %}
    {% include ('LaisoArmBundle:DQE/marche:dqe_marche.html.twig') %}
{% endif %}
