{% extends "FOSUserBundle::layout.html.twig" %}

{% block breadcumbs %}
    <li><a href="{{ path('fos_user_profile_show') }}">Mon profil</a></li>
    <li><a href="{{ path('fos_user_profile_edit') }}">Modifier</a></li>
{% endblock %}

{% block fos_user_content %}
{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
{% endblock fos_user_content %}
