{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}

<div>
    <table class="table">
        <tr>
            <td style="width: 25%">
                <strong>{{ 'profile.show.username'|trans }}</strong>
            </td>
            <td>
                <div class="input-control text full-size">
                    {{ form_widget(form.username) }}
                </div>
                <div class="fg-red">{{ form_errors(form.username) }}</div>
            </td>
        </tr>
        <tr>
            <td><strong>{{ 'profile.show.nom'|trans }}</strong></td>
            <td>
                <div class="input-control text full-size">
                    {{ form_widget(form.nom) }}
                </div>
                <div class="fg-red">{{ form_errors(form.nom) }}</div>
            </td>
        </tr>
        <tr>
            <td><strong>{{ 'profile.show.prenom'|trans }}</strong></td>
            <td>
                <div class="input-control text full-size">
                    {{ form_widget(form.prenom) }}
                </div>
                <div class="fg-red">{{ form_errors(form.prenom) }}</div>
            </td>
        </tr>
        <tr>
            <td>
                <strong>{{ 'profile.show.email'|trans }}</strong>
            </td>
            <td>
                <div class="input-control text full-size">
                    {{ form_widget(form.email) }}
                </div>
                <div class="fg-red">{{ form_errors(form.email) }}</div>
            </td>
        </tr>
        <tr>
            <td><strong>{{ 'form.current_password'|trans }}</strong></td>
            <td>
                <div class="input-control password full-size" data-role="input">
                    {{ form_widget(form.current_password) }}
                    <button class="button helper-button reveal"><span class="mif-looks"></span></button>
                </div>
                <div class="fg-red">{{ form_errors(form.current_password) }}</div>
            </td>
        </tr>
    </table>

    <div>
        <input class="button success place-right" type="submit" value="{{ 'profile.edit.submit'|trans }}"/>
    </div>
    <span class="clear-float"></span>
</div>
{{ form_end(form) }}
