{% extends "::base.html.twig" %}
{% block body %}
    <br>
<div class="laiso-bordered padding10 no-padding-bottom">
    <h3 class="align-center">
        Bienvenue sur la plateforme SGPEC: <span class="fg-darkTeal">Système de Gestion de Projet d'Entretien Courant</span>
        de l'Autorité Routière de Madagascar
        <hr class="thin" width="30%">
        <br>
    </h3>
    <div class="grid">
        <div class="row cells3">

            <div class="cell laiso-bordered padding10">
                <div class="panel">
                    <div class="heading">
                        <span class="icon mif-home"></span>
                        <span class="title">Gérer les marchés</span>
                    </div>
                    <div class="content padding5">
                        Gestion des marchés:
                    </div>
                </div>
            </div>

            <div class="cell laiso-bordered padding10">
                <div class="panel">
                    <div class="heading">
                        <span class="icon mif-home"></span>
                        <span class="title">Administration</span>
                    </div>
                    <div class="content padding5">
                        Gestion constantes ...
                    </div>
                </div>
            </div>
            <div class="cell laiso-bordered padding10">
                <div class="panel">
                    <div class="heading">
                        <span class="icon mif-home"></span>
                        <span class="title">Tableau de bord</span>
                    </div>
                    <div class="content padding5">
                        Gestion des marchés:
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}