{% set titre = dqe.consistances['lignes'][dqe.consistances['lignes'] | length - 1]['avenants'][dqe.consistances['lignes'][dqe.consistances['lignes'] | length - 1]['avenants'] | length - 1].libelle.libelle %}
{% set consistance = dqe.consistances['consistance'] %}
{% set avts = dqe.consistances['lignes'][0]['avenants'] %}

{% set lignes = dqe.consistances['lignes'] %}
<table class="border bordered table">
    <tr class="fg-darkTeal bg-grayLighter">
        <td style="width: 7%;">Numéro</td>
        <td style="width: 33%;">Désignation</td>
        <td style="width: 10%;">Unité</td>
        <td style="width: 10%;">Prix Unitaire</td>

        {% for av in avts %}
            <td class="align-center" style="width: {{ 20 / (avts | length) }}%;">Quantité
                <hr class="thin">
                <small>{% if av.libelle.numero == 0 %}Marché initial{% else %}Avenant numéro {{ av.libelle.numero }}{% endif %}</small>
            </td>
            <td class="align-center" style="width: {{ 20 / (avts | length) }}%;">Montant
                <hr class="thin">
                <small>{% if av.libelle.numero == 0 %}Marché initial{% else %}Avenant numéro {{ av.libelle.numero }}{% endif %}</small>
            </td>
        {% endfor %}
    </tr>
    {% set current = "" %}
    {% for ligne in lignes %}
        {% set serie = ligne.serie %}
        {% set designation = ligne.serie.designation %}
        {% set unite = ligne.serie.unite %}
        {% set categorie = ligne.serie.categorie %}
        {% set prixUnitaire = ligne.prixUnitaire %}
        {% set avenants = ligne.avenants %}

        {% if current != categorie.designation %}
            <tr class="bg-grayLight">
                <td><strong>{{ categorie.numero }}</strong></td>
                <td colspan="{{ 3 + avts | length * 2 }}"><strong>{{ categorie.designation }}</strong></td>
            </tr>
            {% set current = categorie.designation %}
        {% endif %}
        <tr>
            <td>{{ serie.numero }}</td>
            <td>{{ serie.designation }}</td>
            <td class="align-center">{{ unite.abbrege }}</td>
            <td class="align-right">{{ prixUnitaire }}</td>
            {% set k = 0 %}
            {% for avenant in avenants %}
                {% if avenant is not null %}
                    {% for l in avenant.lignes %}
                        {% if l.prix.serie.id == ligne.serie.id %}
                            {% if l.avenant.libelle.numero == k %}
                                <td class="align-right">{{ l.quantite }} <small class="fg-green place-left">{{ k }}</small></td>
                                <td class="align-right">{{ l.quantite * prixUnitaire }}</td>
                            {% else %}
                                <td class="align-right">-</td>
                                <td class="align-right">-</td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% set k = k+1 %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>

