{% extends '::base.html.twig' %}

{% block breadcumbs %}
    <li><a href="{{ path('marche') }}">Marchés</a></li>
    <li><a href="{{ path('marche_show', {'id': entity.id}) }}">Marché n° {{ entity.numero }}</a></li>
    <li><a href="{{ path('marche_edit', {'id': entity.id}) }}">Modifier</a></li>
{% endblock %}

{% block body -%}
    {% include ('@LaisoArm/Marche/includes/edit_marche.html.twig') %}
    {{ form(delete_form) }}
    <a class="primary button" href="{{ path('marche') }}">
        Retourner à la liste des marchés
    </a>
{% endblock %}
