{% extends '::base.html.twig' %}

{% block breadcumbs %}
    <li><a href="{{ path('marche') }}">Marchés</a></li>
{% endblock %}

{% block body -%}
    {% if entities | length == 0 %}
        <div class="laiso-bordered padding10 margin10 no-margin-bottom no-margin-right no-margin-left align-center bg-grayLighter">
            <h3>Aucun marché.</h3>

            <a class="ajax-button button primary" href="{{ path('marche_new') }}">
                Créer un nouveu marché
            </a>
        </div>
    {% else %}
        <table class="table border bordered">
            <thead>
            <tr>
                <th style="width: 22%;">Marché</th>
                <th>Objet</th>
                <th style="width: 10%;">Titulaire</th>
                <th style="width: 20%;">Remarques et actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>
                        {% if entity.lotissement.bloc.localisation != app.user.bloc.localisation %}
                            <h4 class="fg-orange">
                                <strong>{{ entity.numero }}</strong> - Lot {{ entity.lotissement.affichage }}
                                <span class="place-right mif-warning fg-orange"></span>
                            </h4>
                        {% else %}
                            <h4>
                                N° <strong>{{ entity.numero }}</strong>
                            </h4>
                            <hr class="thin">
                            <span class="place-right">Lot <a href="{{ path('dao_show', {'id' : entity.lotissement.id}) }}">{{ entity.lotissement.affichage }}</a></span>
                        {% endif %}
                    </td>
                    <td>
                        <span class="text-bold">
                            {% for consistance in entity.lotissement.consistances %}
                                {% for type in consistance.types %}
                                    {{ type.type }} <br>
                                {% endfor %}
                            {% endfor %}
                            {% if entity.lotissement.consistances | length == 0 %}
                                (Aucune consistance trouvée)
                            {% endif %}
                            </span>
                        <hr class="thin">
                        {{ entity.lotissement.axe }} - Entre le PK {{ entity.lotissement.pKDebut }} et le PK {{ entity.lotissement.pKFin }}
                        ({{ entity.lotissement.localisation }})
                    </td>
                    <td class="align-center">{{ entity.entreprise.denomination }}</td>
                    <td class="align-center">
                        {% if entity.lotissement.bloc.localisation != app.user.bloc.localisation %}
                            <small class="fg-orange">
                                Marché disponible uniquement dans le bloc {{ entity.lotissement.bloc }}.
                            </small>
                        {% else %}
                            <a href="{{ path('marche_show', { 'id': entity.id }) }}">Détails</a>
                            {% if not entity.lotissement.valide %}
                                <a class="ajax-button" href="{{ path('marche_edit', { 'id': entity.id }) }}">Modifier</a>
                            {% endif %}

                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="ajax-button button primary" href="{{ path('marche_new') }}">
            Créer un nouveau marché
        </a>
    {% endif %}
{% endblock %}
