{% extends '::base.html.twig' %}

{% block breadcumbs %}
    <li><a href="{{ path('marche') }}">Marché</a></li>
    <li><a href="{{ path('marche_show', {'id' : entity.id}) }}">Marché n° {{ entity.numero }}</a></li>
{% endblock %}

{% block body -%}
    <table class="table border bordered condensed bg-white">
        <tbody>
        <tr>
            <th style="width: 25%" class="align-left">Numéro</th>
            <td>{{ entity.numero }}</td>

        </tr>
        <tr>
            <th class="align-left">Financement</th>
            <td>{{ entity.financement }}</td>
        </tr>
        <tr>
            <th class="align-left">Objet</th>
            <td>
                {% for consistance in entity.lotissement.consistances %}
                    {% for type in consistance.types %}
                        {{ type.type }} ({{ type.abbrege }}) <br>
                    {% endfor %}
                {% endfor %}
                {{ entity.lotissement.axe }} - Entre le PK {{ entity.lotissement.pKDebut }} et le
                PK {{ entity.lotissement.pKFin }}
                ({{ entity.lotissement.localisation }})
            </td>
        </tr>
        <tr>
            <th class="align-left">Exercice</th>
            <td>{{ entity.exercice }}</td>
        </tr>
        <tr>
            <th class="align-left">Titulaire</th>
            <td>
                <dl class="horizontal">
                    <dt>Entreprise</dt>
                    <dd>{{ entity.entreprise.denomination }} ({{ entity.entreprise.sigle }})</dd>

                    <dt>Adresse</dt>
                    <dd>{{ entity.entreprise.adresse }}</dd>

                    <dt>N° Statistique</dt>
                    <dd>{{ entity.entreprise.statistique }}</dd>

                    <dt>NIF</dt>
                    <dd>{{ entity.entreprise.nIF }}</dd>

                    <dt>Contacts</dt>
                    <dd>{{ entity.entreprise.telephone1 }} - {{ entity.entreprise.telephone2 }}</dd>

                    <dt>E-mail</dt>
                    <dd>{{ entity.entreprise.email }}</dd>
                </dl>
            </td>
        </tr>
        <tr>
            <th class="align-left">Délai d'exécution</th>
            <td>{{ entity.lotissement.delai }} mois</td>
        </tr>
        <tr>
            <th class="align-left">Nombre d'avenants</th>
            <td>
                <a class="fg-black" href="{{ path('avenant', {'marcheId': entity.id}) }}">{{ entity.avenants | length - 1 }}
                    avenant(s)</a>
                <small class="fg-gray place-right">1 marché initial et {{ entity.avenants | length - 1 }}avenant(s)
                </small>
            </td>
        </tr>
        </tbody>
    </table>
    {{ form(delete_form) }}

    <a class="button primary ajax-button place-right" href="{{ path('marche_edit', { 'id': entity.id }) }}">
        Modifier
    </a>
    <a class="button primary" href="{{ path('avenant', {'marcheId': entity.id}) }}">
        Liste des avenants du marché {{ entity.numero }}
    </a>
    <a class="button primary" href="{{ path('decompte', {'marcheId': entity.id}) }}">
        Décomptes du marché {{ entity.numero }}
    </a>

    <hr class="thin">
    {% if entity.avenants | length > 0 %}
        {% if entity.avenants | length == 1 %}
            {% set avenant = entity.avenants[entity.avenants | length - 1] %}
            <table class="table bordered border bg-white">
                <tbody>
                <tr class="bg-grayLighter">
                    <th style="width: 25%" class="align-center">
                        Observations
                        <br>
                        <small class="fg-gray">
                            ({% if avenant.libelle.numero > 0 %}Avenant n° {{ avenant.libelle.numero }}{% else %}Marché initial{% endif %})
                        </small>
                    </th>
                    <td>
                        <strong>Date</strong>
                    </td>
                </tr>
                <tr>
                    <th>Date de signature de l'Entreprise</th>
                    <td>
                        {% if avenant.dateSignatureEntreprise %}
                            {{ avenant.dateSignatureEntreprise | date('d M Y') }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Date de signature de l'ARM</th>
                    <td>
                        {% if avenant.dateSignatureArm %}
                            {{ avenant.dateSignatureArm | date('d M Y') }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Date de VISA</th>
                    <td>
                        {% if avenant.dateVisa %}
                            {{ avenant.dateVisa | date('d M Y') }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Date OS de notification</th>
                    <td>
                        {% if avenant.dateOsNotification %}
                            {{ avenant.dateOsNotification | date('d M Y') }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Date OS de démarrage</th>
                    <td>
                        {% if avenant.dateOsDemarrage %}
                            {{ avenant.dateOsDemarrage | date('d M Y') }}
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>

            {% if not avenant.dateOsDemarrage or not avenant.dateOsNotification or not avenant.dateVisa or not avenant.dateSignatureArm or not avenant.dateSignatureEntreprise %}
                <a class="button primary place-right ajax-button"
                   href="{{ path('avenant_edit', {'numero': avenant.libelle.numero, 'marcheId' : entity.id}) }}">Remplir</a>
                <span class="clear-float"></span>
            {% endif %}
        {% else %}
            <div class="grid">
                <div class="row cells2">
                    {% set avenant = entity.avenants[0] %}
                    <div class="cell">
                        <div class="panel">
                            <div class="heading">
                                <span class="title">{% if avenant.libelle.numero > 0 %}Avenant n° {{ avenant.libelle.numero }}{% else %}Marché initial{% endif %}</span>
                            </div>
                            <div class="content padding10">
                                <table class="table bordered border bg-white">
                                    <tbody>
                                    <tr>
                                        <th style="width: 50%;">Date de signature de l'Entreprise</th>
                                        <td>
                                            {% if avenant.dateSignatureEntreprise %}
                                                {{ avenant.dateSignatureEntreprise | date('d M Y') }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Date de signature de l'ARM</th>
                                        <td>
                                            {% if avenant.dateSignatureArm %}
                                                {{ avenant.dateSignatureArm | date('d M Y') }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Date de VISA</th>
                                        <td>
                                            {% if avenant.dateVisa %}
                                                {{ avenant.dateVisa | date('d M Y') }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Date OS de notification</th>
                                        <td>
                                            {% if avenant.dateOsNotification %}
                                                {{ avenant.dateOsNotification | date('d M Y') }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Date OS de démarrage</th>
                                        <td>
                                            {% if avenant.dateOsDemarrage %}
                                                {{ avenant.dateOsDemarrage | date('d M Y') }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <a class="button primary place-left" href="{{ path('avenant_show', {'marcheId': entity.id, 'numero': avenant.libelle.numero}) }}">Détailler</a>
                                {% if not avenant.dateOsDemarrage or not avenant.dateOsNotification or not avenant.dateVisa or not avenant.dateSignatureArm or not avenant.dateSignatureEntreprise %}
                                    <a class="button primary place-right ajax-button"
                                       href="{{ path('avenant_edit', {'numero': avenant.libelle.numero, 'marcheId' : entity.id}) }}">Remplir</a>
                                    <span class="clear-float"></span>
                                {% endif %}
                                <span class="clear-float"></span>
                            </div>
                        </div>
                    </div>
                    {% set avenant = entity.avenants[entity.avenants | length - 1] %}
                    <div class="cell">
                        <div class="panel">
                            <div class="heading">
                                <span class="title">{% if avenant.libelle.numero > 0 %}Avenant n° {{ avenant.libelle.numero }}{% else %}Marché initial{% endif %}</span>
                            </div>
                            <div class="content padding10">
                                <table class="table bordered border bg-white">
                                    <tbody>
                                    <tr>
                                        <th style="width: 50%;">Date de signature de l'Entreprise</th>
                                        <td>
                                            {% if avenant.dateSignatureEntreprise %}
                                                {{ avenant.dateSignatureEntreprise | date('d M Y') }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Date de signature de l'ARM</th>
                                        <td>
                                            {% if avenant.dateSignatureArm %}
                                                {{ avenant.dateSignatureArm | date('d M Y') }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Date de VISA</th>
                                        <td>
                                            {% if avenant.dateVisa %}
                                                {{ avenant.dateVisa | date('d M Y') }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Date OS de notification</th>
                                        <td>
                                            {% if avenant.dateOsNotification %}
                                                {{ avenant.dateOsNotification | date('d M Y') }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Date OS de démarrage</th>
                                        <td>
                                            {% if avenant.dateOsDemarrage %}
                                                {{ avenant.dateOsDemarrage | date('d M Y') }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <a class="button primary place-left" href="{{ path('avenant_show', {'marcheId': entity.id, 'numero': avenant.libelle.numero}) }}">Détailler</a>
                                {% if not avenant.dateOsDemarrage or not avenant.dateOsNotification or not avenant.dateVisa or not avenant.dateSignatureArm or not avenant.dateSignatureEntreprise %}
                                    <a class="button primary place-right ajax-button"
                                       href="{{ path('avenant_edit', {'numero': avenant.libelle.numero, 'marcheId' : entity.id}) }}">Remplir</a>
                                    <span class="clear-float"></span>
                                {% endif %}
                                <span class="clear-float"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

    <hr class="thin bg-orange">
    <h3>Détail Quantitatif et Estimatif {% if not entity.lotissement.puValide %} <small class="place-right">Les Prix unitaires ne sont pas encore validés</small> {% endif %}</h3>
    {% if entity.lotissement.puValide %}
        {% render(controller('LaisoArmBundle:Marche:showDqe', {'id': entity.id})) %}
    {% else %}
        {% set consistances = entity.lotissement.consistances %}
        {% set lotissement = entity.lotissement %}
        {% set avenant = entity.avenants[0] %}
        {% include ('@LaisoArm/DQE/marche/dqe_marche_initial.html.twig') %}
    {% endif %}

{% endblock %}
