{% extends '::base.html.twig' %}
{% block breadcumbs %}
    <li><a href="{{ path('dao') }}">Dossier d'appel d'offre</a></li>
    <li><a href="{{ path('dao_show', {'id': entity.id}) }}">Lot n° {{ entity }}</a></li>

    {% if entity.valide %}
        <span class="mif-checkmark fg-green place-right"></span>
    {% endif %}
{% endblock %}


{% block body -%}

    {% if app.user.bloc == null or entity.bloc.numero != app.user.bloc.numero and app.user.hasRole('ADMIN_UI') == true%}
        {% include ('@LaisoArm/Shared/access_denied.html.twig') %}
    {% else %}

        <span class="clear-float"></span>
        <table class="table border bordered">
            <thead>
            <tr>
                <th>Numéro</th>
                <th>Axe et localisation</th>
                <th>Classe</th>
                <th>Consistances</th>
                <th>Région</th>
                <th>Bloc</th>
                <th>Délai</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ entity }}</td>
                <td>Axe {{ entity.axe }} - Entre le PK {{ entity.pKDebut }} et le PK {{ entity.pKFin }} - {{ entity.localisation }}</td>
                <td class="align-center">{{ entity.classe }}</td>
                <td class="align-center">{% for consistance in entity.consistances %} {% for type in consistance.types %}{{ type.abbrege }} &nbsp; {% endfor %} {% endfor %}</td>
                <td class="align-center">{{ entity.region }}</td>
                <td class="align-center">{{ entity.bloc.localisation }}</td>
                <td class="align-center">{{ entity.delai }} mois</td>
            </tr>
            </tbody>
            <tbody>
        </table>

        {% if entity.valide == false and dqe.avenant.valide == false %}
            <div class="place-right">
                <a class="button primary ajax-button" href="{{ path('dao_edit', { 'id': entity.id }) }}">Modifier</a>
                <a class="button danger ajax-button" href="{{ path('dao_ajax_delete', {'id': entity.id}) }}">Supprimer</a>
            </div>
            <span class="clear-float"></span>
        {% else %}
            <span class="place-right fg-red"><small>Vous ne pouvez plus apporter de modification.</small></span>
            <span class="clear-float"></span>
        {% endif %}
        <br>

        {% set lotissement = entity %}
        {% set rubrique = 'dao' %}
        {% include "@LaisoArm/DQE/dqe.html.twig" %}
    {% endif %}
{% endblock %}
