<h1>Modifier l'entreprise {{ entity.denomination }}</h1>
<br>
{{ form_start(edit_form, {'attr':{
    'data-role': 'validator',
    'data-show-required-state': "false",
    'data-hint-mode': "line",
    'data-hint-background': "bg-red",
    'data-hint-color': "fg-white",
    'data-hide-error': "5000"
}}) }}
<div class="grid laiso-bordered padding10">
    <div class="row cells3">
        <div class="cell">
            <strong>Dénomination</strong>

            <div class="fg-red">
                {{ form_errors(edit_form.denomination) }}
            </div>

            <div class="input-control text full-size">
                {{ form_widget(edit_form.denomination) }}
                <span class="input-state-error mif-warning"></span>
                <span class="input-state-success mif-checkmark"></span>
            </div>
        </div>
        <div class="cell">
            <strong>Sigle</strong>

            <div class="fg-red">
                {{ form_errors(edit_form.sigle) }}
            </div>

            <div class="input-control text full-size">
                {{ form_widget(edit_form.sigle) }}
                <span class="input-state-error mif-warning"></span>
                <span class="input-state-success mif-checkmark"></span>
            </div>
        </div>
        <div class="cell">
            <strong>Adresse de l'entreprise</strong>

            <div class="fg-red">
                {{ form_errors(edit_form.adresse) }}
            </div>

            <div class="input-control text full-size">
                {{ form_widget(edit_form.adresse) }}
                <span class="input-state-error mif-warning"></span>
                <span class="input-state-success mif-checkmark"></span>
            </div>

        </div>
    </div>
    <div class="row cells2">
        <div class="cell">
            <strong>Numéro statistique</strong>

            <div class="fg-red">
                {{ form_errors(edit_form.statistique) }}
            </div>

            <div class="input-control number full-size">
                {{ form_widget(edit_form.statistique) }}
                <span class="input-state-error mif-warning"></span>
                <span class="input-state-success mif-checkmark"></span>
            </div>
        </div>
        <div class="cell">
            <strong>Numéro d'identification fiscal</strong>

            <div class="fg-red">
                {{ form_errors(edit_form.nIF) }}
            </div>

            <div class="input-control number full-size">
                {{ form_widget(edit_form.nIF) }}
                <span class="input-state-error mif-warning"></span>
                <span class="input-state-success mif-checkmark"></span>
            </div>

        </div>
    </div>

    <div class="grid">

        <div class="row cells3">
            <div class="cell">
                <strong>Téléphone 1</strong>

                <div class="fg-red">
                    {{ form_errors(edit_form.telephone1) }}
                </div>

                <div class="input-control text full-size">
                    {{ form_widget(edit_form.telephone1) }}
                    <span class="input-state-error mif-warning"></span>
                    <span class="input-state-success mif-checkmark"></span>
                </div>
            </div>

            <div class="cell">
                <strong>Téléphone 2</strong>

                <div class="fg-red">
                    {{ form_errors(edit_form.telephone2) }}
                </div>

                <div class="input-control text full-size">
                    {{ form_widget(edit_form.telephone2) }}
                    <span class="input-state-error mif-warning"></span>
                    <span class="input-state-success mif-checkmark"></span>
                </div>
            </div>

            <div class="cell">
                <strong>Adresse e-mail</strong>

                <div class="fg-red">
                    {{ form_errors(edit_form.email) }}
                </div>

                <div class="input-control email full-size">
                    {{ form_widget(edit_form.email) }}
                    <span class="input-state-error mif-warning"></span>
                    <span class="input-state-success mif-checkmark"></span>
                </div>
            </div>
        </div>
    </div>
</div>
{{ form_end(edit_form) }}