{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
<div class="login-form padding20 block-shadow">
    <h1 class="text-light">Inscription</h1>
    <hr class="thin">

    <br>
    <strong>Adresse e-mail</strong>
    <small class="fg-orange">{{ form_errors(form.email) }}</small>
    <div class="input-control email full-size">
        {{ form_widget(form.email) }}
    </div>
    <br>
    <strong>Nom d'utilisateur</strong>
    <small class="fg-orange">{{ form_errors(form.username) }}</small>
    <div class="input-control email full-size">
        {{ form_widget(form.username) }}
    </div>
    <br>
    <strong>Mot de passe</strong>
    <small class="fg-orange">{{ form_errors(form.plainPassword['first']) }}</small>
    <div class="input-control password full-size" data-role="input">
        {{ form_widget(form.plainPassword['first']) }}
        <button class="button helper-button reveal"><span class="mif-looks"></span></button>
    </div>
    <br>
    <strong>Confirmer le mot de passe</strong>
    <small class="fg-orange">{{ form_errors(form.plainPassword['second']) }}</small>
    <div class="input-control password full-size" data-role="input">
        {{ form_widget(form.plainPassword['second']) }}
        <button class="button helper-button reveal"><span class="mif-looks"></span></button>
    </div>
    <div>
        <input type="submit" class="button primary place-right" value="S'inscrire"/>
    </div>
    <span class="clear-float"></span>
</div>
{{ form_end(form) }}
