<h1>Modification de marché</h1>

{{ form_start(edit_form) }}
<div class="laiso-bordered padding10 grid">
    <div class="row cells4">
        <div class="cell">
            <strong>Lot</strong>

            <div class="fg-red">
                {{ form_errors(edit_form.lotissement) }}
            </div>

            <div class="input-control select full-size" data-role="select">
                {{ form_widget(edit_form.lotissement) }}
            </div>
        </div>
        <div class="cell">
            <strong>Numéro</strong>

            <div class="fg-red">
                {{ form_errors(edit_form.numero) }}
            </div>

            <div class="input-control number full-size">
                {{ form_widget(edit_form.numero) }}
            </div>
        </div>
        <div class="cell colspan2">
            <strong>Exercice</strong>

            <div class="fg-red">
                {{ form_errors(edit_form.exercice) }}
            </div>

            <div class="input-control text full-size">
                {{ form_widget(edit_form.exercice) }}
            </div>
        </div>
    </div>
    <div class="row cells2">
        <div class="cell">
            <strong>Financement</strong>

            <div class="fg-red">
                {{ form_errors(edit_form.financement) }}
            </div>

            <div class="input-control text full-size">
                {{ form_widget(edit_form.financement) }}
            </div>
        </div>
        <div class="cell">
            <strong>Entreprise</strong>

            <div class="fg-red">
                {{ form_errors(edit_form.entreprise) }}
            </div>

            <div class="input-control select full-size" data-role="select">
                {{ form_widget(edit_form.entreprise) }}
            </div>
        </div>
    </div>
</div>
{{ form_end(edit_form) }}