<h1>Validation de nouveau marché</h1>

{{ form_start(form) }}
    <div class="laiso-bordered padding10 grid">
        <div class="row cells4">
            <div class="cell">
                <strong>Lot</strong>

                <div class="fg-red">
                    {{ form_errors(form.lotissement) }}
                </div>

                <div class="input-control select full-size" data-role="select">
                    {{ form_widget(form.lotissement) }}
                </div>
            </div>
            <div class="cell">
                <strong>Numéro</strong>

                <div class="fg-red">
                    {{ form_errors(form.numero) }}
                </div>

                <div class="input-control number full-size">
                    {{ form_widget(form.numero) }}
                </div>
            </div>
        </div>
        <div class="row cells2">
            <div class="cell">
            </div>
            <div class="cell">
                <strong>Entreprise</strong>

                <div class="fg-red">
                    {{ form_errors(form.entreprise) }}
                </div>

                <div class="input-control select full-size" data-role="select">
                    {{ form_widget(form.entreprise) }}
                </div>
            </div>
        </div>
    </div>
{{ form_end(form) }}