{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Campagne</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Exercice</th>
                <td>{{ entity.exercice }}</td>
            </tr>
            <tr>
                <th>Financement</th>
                <td>{{ entity.financement }}</td>
            </tr>
            <tr>
                <th>Tva</th>
                <td>{{ entity.tVA }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('campagne') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('campagne_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
