{% trans_default_domain 'FOSUserBundle' %}



{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
<div class="login-form padding20 block-shadow">
    <h1 class="text-light">Modifier mon mot de passe</h1>
    <hr class="thin">
    <br>
    <div>
        <strong>{{ 'form.current_password'|trans }}</strong>
        <div class="input-control password full-size" data-role="input">
            {{ form_widget(form.current_password) }}
            <button class="button helper-button reveal"><span class="mif-looks"></span></button>
        </div>
    </div>

    <br>

    <div>
        <strong>Nouveau mot de passe</strong>
        <div class="input-control password full-size" data-role="input">
            {{ form_widget(form.plainPassword['first']) }}
            <button class="button helper-button reveal"><span class="mif-looks"></span></button>
        </div>
        <strong>Confirmation</strong>
        <div class="input-control password full-size" data-role="input">
            {{ form_widget(form.plainPassword['second']) }}
            <button class="button helper-button reveal"><span class="mif-looks"></span></button>
        </div>
    </div>

    <div>
        <input class="place-right button primary" type="submit" value="{{ 'change_password.submit'|trans }}"/>
    </div>
</div>
<span class="clear-float"></span>
{{ form_end(form) }}
