<h1>Ajout de prix unitaire pour le prix n° {{ entity.serie.numero }}</h1>
<br>
{{ form_start(form) }}
<div class="grid laiso-bordered padding10">
    <div class="row cells4">
        <div class="cell colspan3">
            <div class="input-control full-size text">
                <input type="text" readonly value="{{ entity.serie.numero }} - {{ entity.serie.designation }}">
            </div>
        </div>
        <div class="cell">
            <div class="input-control number full-size">
                {{ form_widget(form.prixUnitaire) }}
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}