{% extends '::base.html.twig' %}

{% block breadcumbs %}
    <li><a href="#">Admin</a></li>
    <li><a href="{{ path('libelleavenant') }}">Libellés de marchés</a></li>
{% endblock %}

{% block body -%}
    {% if entities |length == 0 %}
        <div class="laiso-bordered padding10 align-center">
            <h3>Aucun libellé de marché trouvé.</h3>
            <a class="button ajax-button primary" href="{{ path('libelleavenant_new') }}">
                Ajouter un nouveau libellé
            </a>
        </div>
    {% else %}
        <table class="table border bordered">
            <thead>
            <tr>
                <th style="width: 15%;">Numéro</th>
                <th>Libelle</th>
                <th style="width: 20%;">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.numero }}</td>
                    <td>{{ entity.libelle }}</td>
                    <td>
                        <a href="{{ path('libelleavenant_show', { 'id': entity.id }) }}">Afficher</a> |
                        <a class="ajax-button" href="{{ path('libelleavenant_edit', { 'id': entity.id }) }}">Modifier</a>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="button ajax-button primary" href="{{ path('libelleavenant_new') }}">
            Ajouter un nouveau libellé
        </a>
    {% endif %}
{% endblock %}
