{% extends '::base.html.twig' %}

{% block breadcumbs %}
    <li><a href="#">Admin</a></li>
    <li><a href="{{ path('libelleavenant') }}">Libellés de marchés</a></li>
    <li><a href="{{ path('libelleavenant_show', {'id': entity.id}) }}">Libellé n° {{ entity.numero }}</a></li>
{% endblock %}

{% block body -%}
    <table class="table bordered border">
        <tbody>
            <tr>
                <th style="width: 25%;">Libellé</th>
                <td>{{ entity.libelle }}</td>
            </tr>
        </tbody>
    </table>
    {{ form(delete_form) }}
    <a class="button place-right primary" href="{{ path('libelleavenant_edit', {'id': entity.id}) }}">Modifier</a>
    <span class="clear-float"></span>
</ul>
{% endblock %}
