<h2 class="text-light">Création de nouveau décompte</h2>
<br>
{{ form_start(form) }}
<div class="laiso-bordered padding10 grid">
    <div class="row cells3">
        <div class="cell">
            <strong>Numéro</strong>
            <div class="fg-red">
                {{ form_errors(form.numero) }}
            </div>
            <div class="input-control number full-size">
                {{ form_widget(form.numero) }}
            </div>
        </div>
        <div class="cell colspan2">
            <strong>Date</strong>
            <div class="fg-red">
                {{ form_errors(form.dateDecompte) }}
            </div>
            <div class="input-control number full-size" data-role="datepicker" data-format="d/m/yyyy">
                {{ form_widget(form.dateDecompte) }}
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}