<h1>Modification d'unité de mesure</h1>
<br>
{{ form_start(edit_form) }}
<div class="grid laiso-bordered padding10">
    <div class="row cells4">
        <div class="cell">
            <strong>Unité de mesure</strong>

            <div class="fg-red">
                {{ form_errors(edit_form.unite) }}
            </div>
            <div class="input-control text full-size">
                {{ form_widget(edit_form.unite) }}
            </div>
        </div>

        <div class="cell">
            <strong>Abbréviation</strong>

            <div class="fg-red">
                {{ form_errors(edit_form.abbrege) }}
            </div>
            <div class="input-control text full-size">
                {{ form_widget(edit_form.abbrege) }}
            </div>
        </div>

        <div class="cell colspan2">
            <strong>Arrêtage</strong>

            <div class="fg-red">
                {{ form_errors(edit_form.arretage) }}
            </div>
            <div class="input-control text full-size">
                {{ form_widget(edit_form.arretage) }}
            </div>
        </div>
    </div>
</div>
{{ form_end(edit_form) }}