<h1>Modification de la ligne du DQE</h1>
<br>
{{ form_start(edit_form, {'attr': {'class': 'ligneDqe'}}) }}
<div class="grid laiso-bordered padding10">
    <div class="row cells4">
        <div class="cell colspan3">
            <div class="fg-red">
                {{ form_errors(edit_form.prix) }}
            </div>
            <div class="input-control select full-size" data-role="select">
                {{ form_widget(edit_form.prix) }}
            </div>
        </div>
        <div class="cell">
            <div class="fg-red">
                {{ form_errors(edit_form.quantite) }}
            </div>

            <div class="input-control number full-size">
                {{ form_widget(edit_form.quantite) }}
            </div>
        </div>
    </div>
</div>
{{ form_end(edit_form) }}


