{% extends "FOSUserBundle::login.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}


    <form action="{{ path("fos_user_security_check") }}" method="post">
        <div class="login-form padding20 block-shadow">

            <h1 class="text-light">Authentification</h1>
            <hr class="thin"/>

            {% if error %}
                <div class="fg-red">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                <br>
            {% endif %}
            <br>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

            <div class="input-control text full-size" data-role="input">
                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"/>
                <button class="button helper-button clear"><span class="mif-cross"></span></button>
            </div>
            <br/>
            <br/>

            <div class="input-control password full-size" data-role="input">
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" name="_password" required="required"/>
                <button class="button helper-button reveal"><span class="mif-looks"></span></button>
            </div>
            <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
            <br/>
            <br/>

            <div class="form-actions">
                <input type="submit" class="button primary place-right" id="_submit" name="_submit"
                       value="{{ 'security.login.submit'|trans }}"/>
            </div>
            <div>
                <a class="button place-left" href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié?</a>
            </div>
        </div>
    </form>
{% endblock fos_user_content %}
