{% extends '::base.html.twig' %}

{% block breadcumbs %}
    <li><a href="#">Admin</a></li>
    <li><a href="{{ path('entreprise') }}">Entreprise</a></li>
    <li><a href="{{ path('entreprise_new') }}">Créer</a></li>
{% endblock %}

{% block body -%}
    {% include ('@LaisoArm/Entreprise/includes/new_entreprise.html.twig') %}
{% endblock %}
