{% extends '::base.html.twig' %}

{% block breadcumbs %}
    <li><a href="#">Admin</a></li>
    <li><a href="{{ path('entreprise') }}">Entreprises</a></li>
    <li><a href="{{ path('entreprise_show', {'id': entity.id}) }}">{{ entity.denomination }}</a></li>
{% endblock %}

{% block body -%}
    <table class="table border bordered">
        <tbody>
            <tr>
                <th style="width: 25%">Dénomination</th>
                <td>{{ entity.denomination }}</td>
            </tr>
            <tr>
                <th>Sigle</th>
                <td>{{ entity.sigle }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ entity.adresse }}</td>
            </tr>
            <tr>
                <th>Statistique</th>
                <td>{{ entity.statistique }}</td>
            </tr>
            <tr>
                <th>NIF</th>
                <td>{{ entity.nIF }}</td>
            </tr>
            <tr>
                <th>Téléphones</th>
                <td>{{ entity.telephone1 }} - {{ entity.telephone2 }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
        </tbody>
    </table>
    {{ form(delete_form) }}

        <a class="button primary ajax-button place-right" href="{{ path('entreprise_edit', { 'id': entity.id }) }}">
            Modifier
        </a>
    <span class="clear-float"></span>
    <hr class="thin">
    <h1>Liste des marchés ({{ entity.marches|length }} au total)</h1>

    {% if entity.marches|length == 0 %}
        <div class="align-center laiso-bordered padding10">
            <h3>Aucun marchés</h3>
        </div>
    {% else %}
        <table class="table border bordered">
            <thead>
            <tr>
                <th style="width: 10%;">Numéro</th>
                <th>Axe et localisation</th>
                <th style="width: 15%;">Titulaire</th>
                <th style="width: 15%;">Financement</th>
                <th style="width: 20%;">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for marche in entity.marches %}
                <tr>
                    <td>{{ marche.numero }}</td>
                    <td>
                        {{ marche.lotissement.axe }} - Entre le PK {{ marche.lotissement.pKDebut }} et le PK {{ marche.lotissement.pKFin }}
                        ({{ marche.lotissement.localisation }})
                        <hr class="thin">
                        <strong>Objet:</strong>
                        {% for consistance in marche.lotissement.consistances %}
                            {{ consistance.type.type}} ({{ consistance.type.abbrege}}) <br>
                        {% endfor %}
                    </td>
                    <td class="align-center">{{ marche.entreprise.denomination }}</td>
                    <td class="align-center">{{ marche.financement }}</td>
                    <td class="align-center">
                        <a href="{{ path('marche_show', { 'id': marche.id }) }}">Afficher</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
