{% extends "FOSUserBundle::login.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="login-form padding20 block-shadow">
        <h2>Veuillez consulter votre boîte de messagerie</h2>
        <hr class="thin">
        <p>
            {{ 'resetting.check_email'|trans({'%email%': email}) }}
        </p>
    </div>
{% endblock %}
