{% extends "FOSUserBundle::login.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="login-form padding20 block-shadow">
    <h1 class="text-light">Veuillez consulter votre boîte de messagerie</h1>
    <hr class="thin">
    <p>{{ 'resetting.password_already_requested'|trans }}</p>
</div>
{% endblock fos_user_content %}
