<div class="login-form padding20 block-shadow">
    {% trans_default_domain 'FOSUserBundle' %}
    <h1 class="text-light">Réinitialiser mon mot de passe</h1>
    <hr class="thin">
    <br>

    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
        <div>
            {% if invalid_username is defined %}
                <p class="fg-orange">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
            {% endif %}
            <label class="text-bold" for="username">{{ 'resetting.request.username'|trans }}</label>

            <div class="input-control text full-size">
                <input type="text" id="username" name="username" required="required"/>
            </div>
        </div>
        <div>
            <input type="submit" class="button primary place-right" value="{{ 'resetting.request.submit'|trans }}"/>
            <span class="clear-float"></span>
        </div>
    </form>
</div>