<div class="login-form padding20 block-shadow">
    {% trans_default_domain 'FOSUserBundle' %}
    <h1 class="text-light">Enter votre nouveau mot de passe</h1>
    <hr class="thin">
    <br>
    {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
    <strong>Entrer le nouveau mot de passe</strong>
    <div class="input-control password full-size" data-role="input">
        {{ form_widget(form.plainPassword['first']) }}
        <button class="button helper-button reveal"><span class="mif-looks"></span></button>
    </div>
    <strong>Confirmer le mot de passe</strong>
    <div class="input-control password full-size" data-role="input">
        {{ form_widget(form.plainPassword['second']) }}
        <button class="button helper-button reveal"><span class="mif-looks"></span></button>
    </div>
    <div>
        <input class="button primary place-right" type="submit" value="{{ 'resetting.reset.submit'|trans }}"/>
    </div>
    <span class="clear-float"></span>
    {{ form_end(form) }}
</div>