{% extends '::base.html.twig' %}

{% block breadcumbs %}
    <li><a href="{{ path('marche') }}">Marché</a></li>
    <li><a href="{{ path('marche_show', {'id' : marche.id}) }}">Marché n° {{ marche.numero }}</a></li>
{% endblock %}

{% block body -%}
    <table class="table border bordered">
        <thead>
        <tr>
            <th style="width: 20%;">Numéro</th>
            <th>Date du décompte</th>
            <th style="width: 20%;">Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for entity in entities %}
            <tr>
                <td>{{ entity.numero }}</td>
                <td>{% if entity.dateDecompte %}{{ entity.dateDecompte|date('d M Y') }}{% endif %}</td>
                <td>
                    <a href="{{ path('decompte_show', { 'id': entity.id, 'marcheId': marcheId }) }}">Détailler</a>
                    <a href="{{ path('decompte_edit', { 'id': entity.id, 'marcheId': marcheId }) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="button primary ajax-button" href="{{ path('decompte_new', {'marcheId': marcheId}) }}">
        Ajouter un nouveau décompte
    </a>
{% endblock %}
