{% extends '::base.html.twig' %}

{% block body -%}
    {%  include '@LaisoArm/Decompte/includes/new_decompte.html.twig' %}
    <a href="{{ path('decompte', {'marcheId' : marcheId}) }}">
        Back to the list
    </a>
{% endblock %}
