{% extends '::base.html.twig' %}

{% block breadcumbs %}
    <li><a href="{{ path('marche') }}">Marché</a></li>
    <li><a href="{{ path('marche_show', {'id' : entity.avenant.marche.id}) }}">Marché n° {{ entity.avenant.marche.numero }}</a></li>
    <li><a href="{{ path('decompte', {'marcheId': entity.avenant.marche.id}) }}">Décomptes</a></li>
    <li><a href="{{ path('decompte_show', {'marcheId': entity.avenant.marche.id, 'id': entity.id}) }}">Décompte n° {{ entity.numero }} du {{ entity.dateDecompte|date('d M Y') }}</a></li>
{% endblock %}

{% block body -%}
    {{ form(delete_form) }}
        <a class="button primary place-right ajax-button" href="{{ path('decompte_edit', { 'id': entity.id, 'marcheId': entity.avenant.marche.id }) }}">
            Modifier
        </a>
<span class="clear-float"></span>
    <hr class="thin">
    <h2 class="text-light">Liste des constats de mesure du décompte n° {{ entity.numero }} du {{ entity.dateDecompte|date('d M Y') }}</h2>
    {{ dump(entity.constatsDeMesure) }}
{% endblock %}
