{#
    Tout est permis: ajout, modification, suppression de Consistance, Localisation, LigneDQE
#}

{% set hasLines = true %}
{% set hasLocales = false %}

{% if consistances | length > 0 %}
    {% for consistance in consistances %}
        <div class="laiso-bordered padding10 bg-grayLighter margin10 no-margin-top no-margin-right no-margin-left">
            <div class="laiso-bordered padding10 align-center bg-white">
                <h4>
                    {% for type in consistance.types %}{{ type.type }}<br>{% endfor %}
                    <div class="dropdown-button">
                        <a href="#" class="dropdown-toggle"></a>
                        <ul class="split-content d-menu" data-role="dropdown">
                            <li><a class="ajax-button" href="{{ path('consistance_edit', {'daoId': lotissement.id, 'id': consistance.id}) }}">Modifier</a></li>
                            <li><a class="ajax-button" href="{{ path('consistance_delete', {'daoId': lotissement.id, 'id': consistance.id}) }}">Supprimer</a></li>
                        </ul>
                    </div>
                </h4>

                <small><strong>Localisations</strong></small>
                <br>
                {% if consistance.localisations | length > 0 %}
                    {% set hasLocales = true %}
                {% endif %}
                {% for site in consistance.localisations %}
                    <small>Axe {{ lotissement.axe }} - Entre le PK {{ site.pKDebut }} et le PK {{ site.pKFin }} - {{ site.localisation }}</small>
                        <div class="dropdown-button">
                            <a href="#" class="dropdown-toggle"></a>
                            <ul class="split-content d-menu" data-role="dropdown">
                                <li><a class="ajax-button" href="{{ path('localisation_edit', {'consistanceId': consistance.id, 'id': site.id}) }}">Modifier</a></li>
                                <li><a class="ajax-button" href="{{ path('localisation_ajax_delete', {'consistanceId': consistance.id, 'id': site.id}) }}">Supprimer</a></li>
                            </ul>
                        </div>
                    <br>
                {% endfor %}
                <small><a class="ajax-button" href="{{ path('localisation_new', {'consistanceId': consistance.id}) }}">Ajouter une localisation</a></small>
                <br><br>
                <strong>Lot n° {{ lotissement }}</strong>
            </div>
        {% if consistance.prix | length > 0 %}
            <table class="bordered border table bg-white">
                <thead>
                <tr>
                    <th style="width: 10%;">Numéro</th>
                    <th>Désignation</th>
                    <th style="width: 10%;">Unité</th>
                    <th style="width: 10%;">Quantité</th>
                    <th style="width: 13%;">Prix Unitaire</th>
                    <th style="width: 13%;">Montant</th>
                </tr>
                </thead>
                <tbody>
                    {% set current = "" %}
                    {% for prix in consistance.prix %}
                        {% for ligne in prix.lignesDqe %}
                            {% if ligne.avenant.id == avenant.id %}
                                {% set serie = ligne.prix.serie %}
                                {% set categorie = serie.categorie %}
                                {% if current != categorie.designation %}
                                    <tr class="bg-grayLighter">
                                        <td><strong>{{ categorie.numero }}</strong></td>
                                        <td colspan="5"><strong>{{ categorie.designation }}</strong></td>
                                    </tr>
                                    {% set current = categorie.designation %}
                                {% endif %}
                                <tr>
                                    <td>{{ serie.numero }}</td>
                                    <td>
                                        <div class="dropdown-button place-right">
                                            <a href="#" class="dropdown-toggle"></a>
                                            <ul class="split-content d-menu" data-role="dropdown">
                                                <li><a class="ajax-button"
                                                       href="{{ path('dqe_edit', {'consistanceId' : consistance.id, 'daoId': lotissement.id, 'id': ligne.id}) }}">Modifier</a>
                                                </li>
                                                <li><a class="ajax-button"
                                                       href="{{ path('dqe_ajax_delete', {'consistanceId' : consistance.id, 'daoId': lotissement.id, 'id': ligne.id}) }}">Supprimer</a>
                                                </li>
                                            </ul>
                                        </div>
                                        {{ serie.designation }}
                                    </td>
                                    <td class="align-center">{{ serie.unite.abbrege }}</td>
                                    <td class="align-right">{{ ligne.quantite }}</td>
                                    <td class="align-right">
                                        {{ ligne.prix.prixUnitaire }}
                                    </td>
                                    <td class="align-right">
                                        {% if ligne.prix.prixUnitaire %}
                                            {{ (ligne.prix.prixUnitaire * ligne.quantite) | round(2) }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
            <div class="place-right">
                <a class="button primary ajax-button" href="{{ path('dqe_new',{'consistanceId' : consistance.id, 'daoId': lotissement.id} ) }}">Ajouter une ligne</a>
            </div>
            <span class="clear-float"></span>
        {% else %}
            {% set hasLines = false %}
            <div class="align-center laiso-bordered padding10 margin10 no-margin-bottom no-margin-right no-margin-left bg-white">
                <h3>Aucune ligne trouvée dans cette consistance.</h3>
                <a class="button primary ajax-button" href="{{ path('dqe_new',{'consistanceId' : consistance.id, 'daoId': lotissement.id} ) }}">Ajouter une ligne</a>
            </div>
        {% endif %}
        </div>
    {% endfor %}
    {% if hasLines and hasLocales %}
        <a href="{{ path('consistance_new', {'daoId' : lotissement.id}) }}" class="button primary ajax-button">Ajouter
            une consistance</a>
        {% if avenant.libelle.numero < 1 %}
            {# Marché initial: afin de masquer l'url /marché/{marcheId}/avenant/{numero} qui renvoie un 404 pour un marché non validé #}
            <a href="{{ path('qte_validate', {'id': entity.id}) }}"
               class="primary button place-right confirm-validate-dqe-dao">Valider les quantités saisies.</a>
        {% else %}
            <a href="{{ path('avenant_validate', {'numero': avenant.libelle.numero, 'marcheId': avenant.marche.id , 'returnUrl' : app.request.requestUri}) }}"
               class="primary button place-right confirm-validate-dqe-dao">Valider les quantités saisies.</a>
        {% endif %}

    {% endif %}
{% else %}
    <div class="align-center laiso-bordered padding10 margin10 no-margin-top no-margin-right no-margin-left">
        <h3>Aucune consistance trouvée dans ce lot.</h3>
        <a href="{{ path('consistance_new', {'daoId' : lotissement.id}) }}" class="button primary ajax-button">Ajouter une consistance</a>
    </div>
{% endif %}

{% if hasLines and hasLocales %}
    <hr class="thin bg-orange">
    <small class="place-right fg-orange">Une fois que vous appuyez sur le boutton "Valider les quantités", vous ne
        pourrez plus apporter de modification.
    </small>
{% else %}
    <hr class="thin bg-orange">
    <small class="place-right fg-orange">Afin de pouvoir valider les quantités, ajouter au moins une ligne dans le DQE et une localisation (site).</small>
{% endif %}