{% if lotissement.valide or lotissement.puValide or avenant.valide %}
    {#
        Aucune modifification autorisée sur les quantités initiales.
            * lotissement.valide: marché
            * lotissement.PuValide: prix unitaire fixé
            * avenant.valide : quantités fixées.
    #}


    <div class="align-center  margin10 no-margin-top no-margin-right no-margin-left">
        <div class="bg-lightGreen padding5">
            <h3>{{ 'Détail quantitatif et Estimatif' |upper }}</h3>
        </div>
    </div>

    {% include ('LaisoArmBundle:DQE/dao:lotissement_valide.html.twig') %}
    <small class="place-right fg-red">Vous ne pouvez plus apporter de modification.</small>
{% else %}
    {#
        Affichage par défaut d'un DQE, toute modification est autorisée: ajout ou
        suppression de ligne, de consistance, de localisation modification de
        quantité, validation des quantités saisies.
    #}

    <div class="align-center  margin10 no-margin-top no-margin-right no-margin-left">
        <div class="bg-grayLight fg-white padding5">
            <h3>{{ 'Détail quantitatif et Estimatif' |upper }}</h3>
        </div>
    </div>

    {% include ('LaisoArmBundle:DQE/dao:default.html.twig') %}
{% endif %}
