{#
    Lotissement validé:
        Aucune modification ne peut être apportée
#}

{% if consistances | length > 0 %}
    {% for consistance in consistances %}
        <div class="laiso-bordered padding10 bg-grayLighter margin10 no-margin-top no-margin-right no-margin-left">
            <div class="laiso-bordered padding10 align-center bg-white">
                <h4>
                    {% for type in consistance.types %}{{ type.type }}<br>{% endfor %}
                </h4>

                <small><strong>Localisations</strong></small>
                <br>

                {% for site in consistance.localisations %}
                    <small>Axe {{ lotissement.axe }} - Entre le PK {{ site.pKDebut }} et le PK {{ site.pKFin }} - {{ site.localisation }}</small>
                    <br>
                {% endfor %}
                <br>
                <strong>Lot n° {{ lotissement }}</strong>
            </div>
            {% if consistance.prix | length > 0 %}
                <table class="bordered border table bg-white">
                    <thead>
                    <tr>
                        <th style="width: 10%;">Numéro</th>
                        <th>Désignation</th>
                        <th style="width: 10%;">Unité</th>
                        <th style="width: 10%;">Quantité</th>
                        <th style="width: 13%;">Prix Unitaire</th>
                        <th style="width: 13%;">Montant</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set current = "" %}
                    {% for prix in consistance.prix %}
                        {% for ligne in prix.lignesDqe %}
                            {% if ligne.avenant.id == avenant.id %}
                                {% set serie = ligne.prix.serie %}
                                {% set categorie = serie.categorie %}
                                {% if current != categorie.designation %}
                                    <tr class="bg-grayLighter">
                                        <td><strong>{{ categorie.numero }}</strong></td>
                                        <td colspan="5"><strong>{{ categorie.designation }}</strong></td>
                                    </tr>
                                    {% set current = categorie.designation %}
                                {% endif %}
                                <tr>
                                    <td>{{ serie.numero }}</td>
                                    <td>{{ serie.designation }}</td>
                                    <td class="align-center">{{ serie.unite.abbrege }}</td>
                                    <td class="align-right">{{ ligne.quantite }}</td>
                                    <td class="align-right">
                                        {{ ligne.prix.prixUnitaire }}
                                    </td>
                                    <td class="align-right">
                                        {% if ligne.prix.prixUnitaire %}
                                            {{ (ligne.prix.prixUnitaire * ligne.quantite) | round(2) }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="align-center laiso-bordered padding10 margin10 no-margin-bottom no-margin-right no-margin-left bg-white">
                    <h3>Aucune ligne trouvée dans cette consistance.</h3>
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% else %}
    <div class="align-center laiso-bordered padding10 margin10 no-margin-top no-margin-right no-margin-left">
        <h3>Aucune consistance trouvée dans ce lot.</h3>
    </div>
{% endif %}