{% extends '::base.html.twig' %}

{% block breadcumbs %}
    <li><a href="{{ path('marche') }}">Marché</a></li>
    <li><a href="{{ path('marche_show', {'id' : entities[0].marche.id}) }}">Marché n° {{ entities[0].marche.numero  }}</a></li>
    <li><a href="{{ path('avenant', {'marcheId': entities[0].marche.id}) }}">Avenants</a></li>
{% endblock %}

{% block body -%}
    <table class="table border bordered">
        <thead>
            <tr>
                <td style="width: 12%;">Numéro</td>
                <th style="width: 10%;">Delai</th>
                <th>Date de VISA</th>
                <th style="width: 22%;">Dates de signature</th>
                <th style="width: 22%;">Dates OS</th>
                <th style="width: 20%;">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr {% if entity.libelle.numero == 0 %} class="bg-grayLighter" {% endif %}>
                <td class="align-center">
                    {{ entity.libelle.numero }}
                    {% if entity.libelle.numero == 0 %}
                        <br>
                        <small>(Marché initial)</small>
                    {% endif %}
                </td>
                <td class="align-center">{{ entity.delai }} Mois</td>
                <td>{% if entity.dateVisa %}{{ entity.dateVisa|date('d M Y') }}{% endif %}</td>
                <td>
                    <small>Entreprise :</small>
                    <span class="place-right">
                        {% if entity.dateSignatureEntreprise %}{{ entity.dateSignatureEntreprise|date('d M Y') }}{% endif %}
                    </span>
                    <br class="clear-float">
                    <small>ARM :</small>
                    <span class="place-right">
                        {% if entity.dateSignatureArm %}{{ entity.dateSignatureArm|date('d M Y') }}{% endif %}
                    </span>
                </td>
                <td>
                    <small>Notification :</small>
                    <span class="place-right">
                        {% if entity.dateOsNotification %}{{ entity.dateOsNotification|date('d M Y') }}{% endif %}
                    </span>
                    <br class="clear-float">
                    <small>Démarrage :</small>
                    <span class="place-right">
                        {% if entity.dateOsDemarrage %}{{ entity.dateOsDemarrage|date('d M Y') }}{% endif %}
                    </span>
                </td>
                <td class="align-center">
                    <a href="{{ path('avenant_show', { 'numero': entity.libelle.numero, 'marcheId' : entity.marche.id }) }}">Détailler</a>
                    {% if entity.valide and entity.marche.lotissement.puValide %}
                        <span data-role="hint" data-hint-background="bg-green" data-hint-color="fg-white"
                              data-hint-mode="2"
                              data-hint="Avenant valide|Vous ne pouvez plus apporter de modification à cet avenant">
                            <div class="place-right fg-green mif-checkmark"></div>
                        </span>
                    {% elseif not entity.marche.lotissement.puValide %}
                        <br>
                        <span class="fg-orange"><small>Les Prix unitaires ne sont pas encores validés.</small></span>
                    {% else %}
                        <a href="{{ path('avenant_edit', { 'numero': entity.libelle.numero, 'marcheId' : entity.marche.id }) }}"
                           class="ajax-button">Modifier</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if entities[entities | length - 1].valide and entities[entities | length - 1].marche.lotissement.puValide %}
        <a class="button primary ajax-button" href="{{ path('avenant_new', {'marcheId': entities[0].marche.id}) }}">
            Ajouter un nouvel avenant pour le marché {{ entities[0].marche.numero }}
        </a>
    {% else %}
        <button class="button primary disabled">
            Ajouter un nouvel avenant pour le marché {{ entities[0].marche.numero }}
        </button>
        <span class="fg-red place-right"><small>Vous ne pouvez pas ajouter de nouvel avenant.</small></span>
    {% endif %}
    <hr>
    <h2>Détail Quantitatif et Estimatif du marché</h2>
    {% render(controller('LaisoArmBundle:Marche:showDqe', {'id': entities[0].marche.id})) %}
{% endblock %}
