{% extends '::base.html.twig' %}

{% block breadcumbs %}
    <li><a href="#">Admin</a></li>
    <li><a href="{{ path('unitedemesure') }}">Unité de mesure</a></li>
    <li><a href="{{ path('unitedemesure_show', {'id': entity.id}) }}">{{ entity.unite }} ({{ entity.abbrege }})</a></li>
    <li><a href="{{ path('unitedemesure_edit', {'id': entity.id}) }}">Modifier</a></li>
{% endblock %}

{% block body -%}
    {% include ('@LaisoArm/UniteDeMesure/includes/edit_uniteDeMesure.html.twig') %}
{% endblock %}
