{% extends '::base.html.twig' %}

{% block breadcumbs %}
    <li><a href="#">Admin</a></li>
    <li><a href="{{ path('unitedemesure') }}">Unité de mesure</a></li>
    <li><a href="{{ path('unitedemesure_new') }}">Créer</a></li>
{% endblock %}

{% block body -%}
    {% include '@LaisoArm/UniteDeMesure/includes/new_uniteDeMesure.html.twig' %}
    <a class="button primary" href="{{ path('unitedemesure') }}">
        Retourner à la liste des unités de mesure
    </a>
{% endblock %}
