{% extends '::base.html.twig' %}

{% block body -%}
    <h1>UniteDeMesure</h1>

    <table class="table border bordered">
        <tbody>
            <tr>
                <th style="width: 20%;">Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Unité</th>
                <td>{{ entity.unite }}</td>
            </tr>
            <tr>
                <th>Abbréviation</th>
                <td>{{ entity.abbrege }}</td>
            </tr>
            <tr>
                <th>Arrêtage</th>
                <td>{{ entity.arretage }}</td>
            </tr>
        </tbody>
    </table>


    {{ form(delete_form) }}
        <a class="button primary" href="{{ path('unitedemesure') }}">
            Retourner à la liste des unités de mesure
        </a>

        <a class="ajax-button button primary" href="{{ path('unitedemesure_edit', { 'id': entity.id }) }}">
            Modifier
        </a>
{% endblock %}
