<table class="table border bordered bg-white">
    <thead>
    <tr>
        <th style="width: 20%;">Lot</th>
        <th>Axe et localisation</th>
        <th>Bloc</th>
        <th>Délai</th>
        <th>Classe</th>
        <th style="width: 18%;">Remarques et actions</th>
    </tr>
    </thead>
    <tbody>

    {% for entity in lotissements %}
        <tr>
            <td>
                <h4 {% if entity.bloc.localisation != app.user.bloc.localisation %}
                    class="fg-orange"
                    {% elseif entity.valide %}
                        class="fg-darkGreen"
                    {% else %}
                    class="fg-darkBlue"
                        {% endif %}>

                    <strong>Lot {{ entity.affichage }}</strong>

                    {% if entity.bloc.localisation != app.user.bloc.localisation %}
                        <span class="mif-warning fg-orange place-right"></span>
                    {% elseif entity.valide %}
                        <span class="mif-checkmark place-right"></span>
                    {% endif %}
                </h4>
                <hr class="thin">
                <small>
                    {% if entity.consistances | length > 0 %}
                        {% for consistance in entity.consistances %}
                            {% for type in consistance.types %}
                                {{ type.abbrege }}
                            {% endfor %}
                        {% endfor %}
                    {% else %}
                        (Aucune consistance)
                    {% endif %}
                </small>
            </td>
            <td>{{ entity.axe }} - Entre le PK {{ entity.pKDebut }} et le PK {{ entity.pKFin }}
                - {{ entity.localisation }}</td>
            <td>{{ entity.bloc.localisation }}</td>
            <td class="align-center">{{ entity.delai }} mois</td>
            <td class="align-center">{{ entity.classe }}</td>
            <td class="align-center">
                {% if entity.bloc.localisation != app.user.bloc.localisation %}
                    <small class="fg-orange">
                        Offre non disponible uniquement dans le bloc {{ entity.bloc }}
                    </small>
                {% elseif entity.valide == false %}
                    <small class="fg-gray">Offre en attente de validation</small> <br><br>
                    <a href="{{ path('dao_show', { 'id': entity.id }) }}">
                        Détailler
                    </a> &nbsp;
                    <a class="ajax-button" href="{{ path('dao_edit', { 'id': entity.id }) }}">
                        Modifier
                    </a>
                {% else %}
                    <small class="fg-gray">
                        Offre déjà validée : Veuillez la retrouver dans la rubrique <strong> <a
                                    href="{{ path('marche') }}">Marché</a> > Lot {{ entity.affichage }}</strong>
                    </small>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>