{% if page == 'ajax' %}
<h1>Nouvelle offre numéro {{ entity.numero }}</h1>
{% endif %}
{{ form_start(form) }}
<div class="grid laiso-bordered padding10">
    <div class="row cells4">
        {#<div class="cell">
            <strong>Numéro du lot</strong>

            <div class="fg-red">
                {{ form_errors(form.numero) }}
            </div>

            <div class="input-control number full-size">
                {{ form_widget(form.numero) }}
            </div>
        </div>#}

        <div class="cell">
            <strong>Bloc</strong>

            <div class="fg-red">
                {{ form_errors(form.bloc) }}
            </div>

            <div class="input-control select full-size" data-role="select">
                {{ form_widget(form.bloc) }}
            </div>
        </div>
        <div class="cell">
            <strong>Région</strong>

            <div class="fg-red">
                {{ form_errors(form.region) }}
            </div>

            <div class="input-control select full-size" data-role="select">
                {{ form_widget(form.region) }}
            </div>
        </div>

        <div class="cell">
            <strong>Délai</strong>

            <div class="fg-red">
                {{ form_errors(form.delai) }}
            </div>

            <div class="input-control full-size">
                {{ form_widget(form.delai) }}
            </div>
        </div>

        <div class="cell">
            <strong>Classe de référence</strong>

            <div class="fg-red">
                {{ form_errors(form.classe) }}
            </div>

            <div class="input-control select full-size" data-role="select">
                {{ form_widget(form.classe) }}
            </div>
        </div>
    </div>
    <div class="row cells3">
        <div class="cell">
            <strong>Axe</strong>

            <div class="fg-red">
                {{ form_errors(form.axe) }}
            </div>
            <div class="grid no-margin-top">
                <div class="row cells2">
                    <div class="cell">
                        <div class="input-control select full-size">
                            {{ form_widget(form.axe.type) }}
                        </div>
                    </div>
                    <div class="cell">
                        <div class="input-control select full-size">
                            {{ form_widget(form.axe.numero) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="cell">
            <strong>PK Début</strong>

            <div class="fg-red">
                {{ form_errors(form.pKDebut) }}
            </div>

            <div class="input-control text full-size">
                {{ form_widget(form.pKDebut) }}
            </div>
        </div>

        <div class="cell">
            <strong>PK Fin</strong>

            <div class="fg-red">
                {{ form_errors(form.pKFin) }}
            </div>

            <div class="input-control text full-size">
                {{ form_widget(form.pKFin) }}
            </div>
        </div>
    </div>
    <div class="row cells3">
        <div class="cell"></div>
        <div class="cell colspan2">
            <strong>Localisation</strong>

            <div class="fg-red">
                {{ form_errors(form.localisation) }}
            </div>

            <div class="input-control text full-size">
                {{ form_widget(form.localisation) }}
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
