{% extends '::base.html.twig' %}

{% block breadcumbs %}
    <li><a href="{{ path('typeconsistance') }}">Type de consistance</a></li>
{% endblock %}

{% block body -%}
    {% if entities | length == 0 %}
        <div class="laiso-bordered padding10 align-center">
            <h3>Aucun type de consistance</h3>
            <a class="button ajax-button primary" href="{{ path('typeconsistance_new') }}">
                Ajouter un nouveau type de consistance
            </a>
        </div>
    {% else %}
        <table class="table border bordered">
            <thead>
            <tr>
                <th style="width: 15%;">Sigle</th>
                <th>Type</th>
                <th style="width: 20%;">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.abbrege }}</td>
                    <td>{{ entity.type }}</td>
                    <td class="align-center">
                        <a href="{{ path('typeconsistance_show', { 'id': entity.id }) }}">Détailler</a>
                        <a class="ajax-button" href="{{ path('typeconsistance_edit', { 'id': entity.id }) }}">Modifier</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="button ajax-button primary" href="{{ path('typeconsistance_new') }}">
            Ajouter un nouveau type de consistance
        </a>
    {% endif %}
{% endblock %}
