{% extends '::base.html.twig' %}

{% block breadcumbs %}
    <li><a href="{{ path('classe') }}">Type de consistance</a></li>
    <li><a href="{{ path('typeconsistance_new') }}">Créer</a></li>
{% endblock %}

{% block body -%}
    {% include ('@LaisoArm/TypeConsistance/includes/new_typeConsistance.html.twig') %}
{% endblock %}
