{% extends '::base.html.twig' %}

{% block breadcumbs %}
    <li><a href="{{ path('classe') }}">Type de consistance</a></li>
    <li><a href="{{ path('typeconsistance_show', {'id': entity.id}) }}">{{ entity.abbrege }} - {{ entity.type }}</a></li>
{% endblock %}

{% block body -%}
    <a class="button primary place-right ajax-button" href="{{ path('typeconsistance_edit', { 'id': entity.id }) }}">
        Modifier
    </a>
    <span class="clear-float"></span>
{% endblock %}
