{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Liste des constats de mesure</h1>

    <table class="table border bordered">
        <thead>
        <tr>
            <th>Numéro</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.numero }}</td>
                <td>
                    <a href="{{ path('constatdemesure_show', { 'id': entity.id }) }}">Détailler</a>
                    <a href="{{ path('constatdemesure_edit', { 'id': entity.id }) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="button ajax-button primary"
       href="{{ path('constatdemesure_new', {'decompteId': decompte.id, 'marcheId': decompte.avenant.marche.id}) }}">
        Ajouter un nouveau constat de mesure
    </a>
{% endblock %}
