{% extends '::base.html.twig' %}

{% block body -%}
    {% include ('@LaisoArm/ConstatDeMesure/includes/new_constatDeMesure.html.twig') %}
        <a class="button primary" href="{{ path('constatdemesure', {'marcheId': decompte.avenant.marche.id, 'decompteId': decompte.id}) }}">
            Retourner à la liste
        </a>
{% endblock %}
