<h1>Modification de la ligne du DQE</h1>
<br>
{{ form_start(edit_form, {'attr': {'class': 'ligneDqe'}}) }}
<div class="grid laiso-bordered padding10">
    <div class="row cells4">
        <div class="cell colspan2">
            <strong>Série de prix</strong>
            <div class="input-control full-size text">
                <input type="text" disabled value="{{ entity.prix.serie }}">
            </div>
        </div>
        <div class="cell">
            <strong>Prix unitaire</strong>
            <div class="input-control full-size text">
                <input type="text" disabled value="{{ entity.prix.prixUnitaire }}">
            </div>
        </div>
        <div class="cell">
            <strong>Quantité</strong>
            <div class="fg-red">
                {{ form_errors(edit_form.quantite) }}
            </div>

            <div class="input-control number full-size">
                {{ form_widget(edit_form.quantite) }}
            </div>
        </div>
    </div>
</div>
{{ form_end(edit_form) }}


