<h1>Ajout de ligne du DQE</h1>
<br>
{{ form_start(form, {'attr': {'class': 'ligneDqe'}}) }}
<div class="grid laiso-bordered padding10">
    <div class="row cells4">
        <div class="cell colspan2">
            <strong>Série de prix</strong>
            <div class="fg-red">
                {{ form_errors(form.prix.serie) }}
            </div>
            <div class="input-control select full-size" data-role="select">
                {{ form_widget(form.prix.serie) }}
            </div>
        </div>
        <div class="cell">
            <strong>Prix unitaire</strong>
            <div class="fg-red">
            {{ form_errors(form.prix.prixUnitaire) }}
            </div>
            <div class="input-control full-size text">
                {{ form_widget(form.prix.prixUnitaire) }}
            </div>
        </div>
        <div class="cell">
            <strong>Quantité</strong>
            <div class="fg-red">
                {{ form_errors(form.quantite) }}
            </div>

            <div class="input-control number full-size">
                {{ form_widget(form.quantite) }}
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}


