{% extends '::base.html.twig' %}

{% block body -%}
    {% include ('@LaisoArm/LigneDQE/includes/edit_ligneDqe.html.twig') %}
    {{ form(delete_form) }}
    <span class="clear-float"></span>
{% endblock %}
