{% extends '::base.html.twig' %}

{% block body -%}
    <h1>LigneDQE list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantite</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('dqe_show', { 'id': entity.id, 'daoId' : daoId, 'consistanceId' : consistanceId }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.quantite }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('dqe_show', { 'id': entity.id, 'daoId' : daoId, 'consistanceId' : consistanceId }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('dqe_edit', { 'id': entity.id, 'daoId' : daoId, 'consistanceId' : consistanceId }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('dqe_new', {'daoId' : daoId, 'consistanceId' : consistanceId}) }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
