<h1>Modifier la classe de référencement {{ entity.classe }}</h1>
<br>
{{ form_start(edit_form) }}
    <div class="grid">
        <div class="row cells1">
            <div class="cell">
                <strong>Nom de la classe</strong>

                <div class="fg-red">
                    {{ form_errors(edit_form.classe) }}
                </div>

                <div class="input-control text full-size">
                    {{ form_widget(edit_form.classe) }}
                </div>
            </div>
        </div>
    </div>
{{ form_end(edit_form) }}