<h1>Création de nouvelle classe de référencement</h1>
<br>
{{ form_start(form) }}
    <div class="grid">
        <div class="row cells1">
            <div class="cell">
                <strong>Nom de la classe</strong>

                <div class="fg-red">
                    {{ form_errors(form.classe) }}
                </div>

                <div class="input-control text full-size">
                    {{ form_widget(form.classe) }}
                </div>
            </div>
        </div>
    </div>
{{ form_end(form) }}