<div class="align-center padding10 laiso-bordered">
    <div class="fg-darkRed bg-grayLighter padding5">
    <h1>Opération interdite.</h1>
    </div>
    <hr class="bg-red thin">
    <div class="fg-gray">
        <h3>
            Vous n'êtes pas autorisés à accéder à ce ressource.
        </h3>
        {#<a class="button primary" href="{{ path('laiso_arm_homepage') }}">Revenir à l'accueil</a>#}
    </div>
</div>