{% extends '::base.html.twig' %}

{% block breadcumbs %}
    <li><a href="#">Admin</a></li>
    <li><a href="{{ path('region') }}">Régions</a></li>
    <li><a href="{{ path('region_show', {'id': entity.id}) }}">{{ entity.nom }}</a></li>
    <li><a href="{{ path('region_edit', {'id': entity.id}) }}">Modifier</a></li>
{% endblock %}

{% block body -%}
    {% include '@LaisoArm/Region/includes/edit_region.html.twig' %}
    <a href="{{ path('region_ajax_delete', {'id': entity.id}) }}" class="button danger place-right ajax-button">Supprimer</a>
{% endblock %}
