{% extends '::base.html.twig' %}

{% block breadcumbs %}
    <li><a href="#">Admin</a></li>
    <li><a href="{{ path('region') }}">Régions</a></li>
{% endblock %}

{% block body -%}
    {% if entities | length == 0 %}
        <div class="align-center margin10 no-margin-left no-margin-right no-margin-bottom laiso-bordered padding10">
            <h3>Aucune région</h3>
            <a class="button primary ajax-button" href="{{ path('region_new') }}">
                Ajouter une nouvelle région
            </a>
        </div>
    {% else %}
        <table class="table border bordered">
            <thead>
            <tr>
                <th>Nom</th>
                <th style="width: 25%;">Bloc</th>
                <th style="width: 20%;">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.nom }}</td>
                    <td>{{ entity.bloc }}</td>
                    <td class="align-center">
                        <a href="{{ path('region_show', { 'id': entity.id }) }}">Détailler</a>
                        <a class="ajax-button" href="{{ path('region_edit', { 'id': entity.id }) }}">Modifier</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="button primary ajax-button" href="{{ path('region_new') }}">
            Ajouter une nouvelle région
        </a>
    {% endif %}
{% endblock %}
