{% extends '::base.html.twig' %}

{% block breadcumbs %}
    <li><a href="#">Admin</a></li>
    <li><a href="{{ path('region') }}">Régions</a></li>
    <li><a href="{{ path('region_new')}}">Créer</a></li>
{% endblock %}

{% block body -%}
{% include '@LaisoArm/Region/includes/new_region.html.twig' %}
{% endblock %}
