{% extends '::base.html.twig' %}
{% block breadcumbs %}
    <li><a href="#">Prix</a></li>
    <li><a href="{{ path('prix_serie') }}">Série des prix</a></li>
{% endblock %}
{% block body -%}
    {% if entities | length > 0 %}
        <table class="table border bordered">
            <thead>
            <tr>
                <th style="width:20%">Numéro</th>
                <th>Désignation</th>
                <th style="width:15%">Unité</th>
                <th style="width:20%">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% set current = "" %}
            {% for entity in entities %}
                {% set categorie = entity.categorie %}
                {% if current != categorie.designation %}
                    <tr class="bg-grayLight">
                        {#<td class="align-center"><strong>{{ categorie.numero }}</strong></td>#}
                        <td colspan="4" class="align-center"><strong>{{ categorie.numero }} - {{ categorie.designation }}</strong></td>
                    </tr>
                    {% set current = categorie.designation %}
                {% endif %}
                <tr>
                    <td>
                        <h3><strong>{{ entity.numero }}{% if entity.sousCategorie is not null %}{{ entity.sousCategorie }}{% endif %}</strong></h3>
                        <hr class="thin">
                        <span class="place-left"><small>{{ entity.categorie.designation }}</small></span>
                    </td>
                    <td>{{ entity.designation }}</td>
                    <td class="align-center">{{ entity.unite }}</td>
                    <td class="align-center">
                        {% if entity.sousCategorie is not null and entity.sousCategorie | length > 0 %}
                            <a href="{{ path('prix_serie_show', { 'numero': entity.numero, 's' : entity.sousCategorie }) }}">
                            <span data-role="hint" data-hint-background="bg-darkTeal" data-hint-color="fg-white"
                                  data-hint="Détailler|Détailler le prix {{ entity.numero }}">Détailler</span>
                            </a>

                            <a class="ajax-button" href="{{ path('prix_serie_edit', { 'numero': entity.numero, 's' : entity.sousCategorie }) }}">
                            <span data-role="hint" data-hint-background="bg-darkTeal" data-hint-color="fg-white"
                                  data-hint="Modifier|Modifier le prix {{ entity.numero }}">Modifier</span>
                            </a>
                        {% else %}
                            <a href="{{ path('prix_serie_show', { 'numero': entity.numero }) }}">
                            <span data-role="hint" data-hint-background="bg-darkTeal" data-hint-color="fg-white"
                                  data-hint="Détailler|Détailler le prix {{ entity.numero }}">Détailler</span>
                            </a>

                            <a class="ajax-button" href="{{ path('prix_serie_edit', { 'numero': entity.numero }) }}">
                            <span data-role="hint" data-hint-background="bg-darkTeal" data-hint-color="fg-white"
                                  data-hint="Modifier|Modifier le prix {{ entity.numero }}">Modifier</span>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% include ('LaisoArmBundle:Shared:paginator.html.twig') %}

        <a class="button primary ajax-button" href="{{ path('prix_serie_new') }}">
            Créer un nouveau prix
        </a>

    {% else %}
        <div class="laiso-bordered margin10 no-margin-left no-margin-right no-margin-bottom padding10 align-center">
            <h3>Aucun prix</h3>
            <a class="button primary ajax-button" href="{{ path('prix_serie_new') }}">
                Créer un nouveau prix
            </a>
        </div>
    {% endif %}
{% endblock %}
