<h1>Modifier la consistance consistance</h1>

{{ form_start(edit_form) }}
<div class="grid">
    <div class="row cells3">
        <div class="cell colspan3">
            <strong>Type</strong>

            <div class="fg-red">
                {{ form_errors(edit_form.types) }}
            </div>

            <div class="input-control select full-size" data-role="select">
                {{ form_widget(edit_form.types) }}
            </div>
        </div>
    </div>
</div>
{{ form_end(edit_form) }}
