<h1>Ajout d'une nouvelle consistance</h1>

{{ form_start(form) }}
<div class="grid">
    <div class="row cells3">
        <div class="cell colspan3">
            <strong>Type</strong>

            <div class="fg-red">
                {{ form_errors(form.types) }}
            </div>

            <div class="input-control full-size select-multiple" data-role="select" data-multiple="true">
                {{ form_widget(form.types) }}
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
